
GeminiFirebaseSwiftUI/GeminiFirebaseSwiftUI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GeminiFirebaseSwiftUI/GeminiFirebaseSwiftUI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GeminiFirebaseSwiftUI/GeminiFirebaseSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
GeminiFirebaseSwiftUI/GeminiFirebaseSwiftUI.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
GeminiFirebaseSwiftUI/GeminiFirebaseSwiftUI/GoogleService-Info.plist
GeminiFirebaseSwiftUI/GeminiFirebaseSwiftUI.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
